.background-linear-gradient{
    background: linear-gradient(-180deg, #13e997, #0cc54a) !important;
}

.background-blackWhite{
    background: linear-gradient(-90deg, #202020, #eff1ef) !important; 
}

.movie-header-color{
    background: linear-gradient(-180deg, #f0135c, #c50c2b) !important;
}

.background-aquamarina{
    background: rgb(15,234,224);
}

.background-green{
    background: rgb(12, 194, 118);
}

.background-orange{
    background: rgb(240, 158, 7);
}

.background-dark{
    background: rgb(36, 36, 35);
}

.text-crimson{
    color: crimson;
}

.movie-buttons-div{
    background: rgba(209, 10, 76, 0.6);
    border-radius:2px 2px 15px 15px;
    width:auto;
}

.card-box-shadow{
    box-shadow: 2px 2px 10px black; 
}

.login-input{
    background: none;
    border: none;
    border-bottom: 1px solid #0057ff;
    outline: none;
    color: #fff;
    font-size: 21px;
    margin: 14px;
}

.transparent-box{
    position: absolute;
    top:8%;
    left:37%;
    background: rgba(0, 0, 0, .7);
    width: 450px;
    height: 430px;
    border-radius: 30px 5px 30px 5px;
}

.text-shadow{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.hover-box:hover{
    border-color: seagreen;
}
footer{
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
